.nsw-card {
  @include font-stack;
  @include border-radius;
  background-color: $white;
  box-shadow: map-get($shadows, card);
  transition: map-get($transitions, card);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
  margin: 0.5rem;
  border: 0;

  &:hover {
    box-shadow: map-get($shadows, card-hover);
  }

  &:focus-within {
    @include nsw-focus;

    .nsw-card__link {
      text-decoration: none;
    }
  }

  &__title {
    @include font-stack('heading');
    @include font-size('md');
    @include nsw-spacing(margin, none none sm none);
  }

  &__content {
    padding: 1rem;
    border-top: solid 4px $nsw-primary-highlight;
    display: flex;
    flex-direction: column;
    order: 2;
    height: 100%;
  }

  &__content-yg {
    padding: 1rem;
    border-top: solid 4px $nsw-primary-highlight;
    height: 100%;
    cursor: pointer;
  }

  &__tag {
    @include font-stack('heading');
    order: 1;
  }

  &__date {
    order: 2;
  }

  &__tag,
  &__date {
    @include font-size('xs');
  }

  &__title,
  &__copy,
  &__icon {
    order: 3;
  }

  &__icon {
    position: relative;
    margin-left: 1rem;
    margin-top: 0.25rem;
    cursor: pointer;
    color: $nsw-primary-highlight;
  }

  &__link {
    @include pseudo-clickable-block;
    text-decoration: none;
    color: $nsw-primary-blue;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  &__image-area {
    order: 1;
    height: rem(200px);
  }
  &__image {
    width: 6rem;
    height: 7rem;
    object-fit: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    &__crime {
      background-image: url(/images/crime.svg);
    }
    &__neighbours {
      background-image: url(/images/neighbours.svg);
    }
    &__family-relationship {
      background-image: url(/images/family-relationship.svg);
    }
    &__debt-money {
      background-image: url(/images/debt-money.svg);
    }
    &__parenting {
      background-image: url(/images/parenting.svg);
    }
    &__drinkdrive {
      background-image: url(/images/drinkdrive.svg);
    }
    &__debt-people {
      background-image: url(/images/debt-people.svg);
    }
    &__fencing {
      background-image: url(/images/fencing.svg);
    }
    &__court {
      background-image: url(/images/court.svg);
    }
    &__traffic {
      background-image: url(/images/traffic.svg);
    }
    &__children {
      background-image: url(/images/children.svg);
    }
  }

  &__cd {
    padding: 1.5rem 1rem 1.5rem 1rem;
    cursor: pointer;
  }

  &__active {
    background-color: $focus-color;
    font-weight: bold;
    color: $white;
  }

  &__pathway {
    font-weight: 600;
  }

  &__disabled {
    background-color: $light40;
    cursor: default;
    font-weight: bold;
    color: $dark80;
  }
  &__card-link {
    text-decoration: none !important;
  }
}

.nsw-card--headline {
  .nsw-card__title {
    @include font-size('xl');
  }
}
