.dic-la {
  background-color: #fff;
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  @media (max-width: 54rem) {
    padding-right: 0;
  }
  @media screen and (min-width: 64rem) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.dic-la-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: $white;
  margin: 0 auto;
  max-width: 54rem;
  &__grey {
    background-color: $light10;
  }
  &__maroon {
    background-color: $nsw-primary-highlight;
    color: $white;
  }
  // @media screen and (min-width: 64rem) {
  //   -webkit-flex-direction: row-reverse;
  //   -ms-flex-direction: row-reverse;
  //   flex-direction: row-reverse;
  // }
}

.dic-la-w-img {
  background-image: url(/landing.svg);
  background-position: 50% 50%;
  background-size: cover;
  object-fit: none;
  border-bottom: 6px solid;
  border-color: $nsw-primary-highlight;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 11rem;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  width: auto;
  z-index: 1;
  // @media screen and (min-width: 64rem) {
  //   border-bottom: 0;
  //   -webkit-transform: none;
  //   -ms-transform: none;
  //   transform: none;
  //   width: 50%;
  //   margin: 5rem 0;
  // }
}

.dic-la-w-l1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;

  //margin-bottom: 1rem;
  // @media screen and (min-width: 64rem) {
  //   width: 50%;
  // }
  &__no-mb {
    margin-bottom: 0;
  }
}

.dic-la-w-l11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  &__no-bold {
    font-weight: 500;
  }
  // @media screen and (min-width: 64rem) {
  //   max-width: 29.375rem;
  //   padding-left: 0;
  //   padding-right: 0;
  //   padding-top: 1rem;
  //   padding-bottom: 1rem;
  // }
}

.dic-la-w-l12 {
  background-color: #002664;
  height: 0;
  left: -100vw;
  position: relative;
  width: 200vw;
  // @media screen and (min-width: 64rem) {
  //   height: 4rem;
  // }
}

.dic-la-w-l11-h1 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 600;
  font-family: $font-stack;
  text-align: left;
  // @media screen and (min-width: 64rem) {
  //   font-size: 2rem;
  // }
}

.dic-la-w-l111 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0.1rem;
  &__row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  @media screen and (min-width: 64rem) {
    margin-top: 0.5rem;
  }
}

.dic-la-w-l111-h2 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
  font-family: $font-stack;
  text-align: left;
  margin-bottom: 0.25rem;
  @media screen and (min-width: 64rem) {
    font-size: 1.5rem;
  }
}

.dic-la-w-l112 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dic-la-w-l112-p {
  font-family: $font-stack;
  font-size: 1rem;
  line-height: 1.25;
  text-align: left;
  margin-bottom: 0.1rem;
}

.dic-yg-2 {
  padding: 0.9375rem 1.25rem 0.9375rem 3.125rem;
  background-position: 0.9375rem 1.2rem;
}

.dic-yg-2-img {
  background-size: 1.625rem;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 0.5rem;
  &__gavel {
    background-image: url(/images/gavel.svg);
  }
  &__calendar {
    background-image: url(/images/calendar.svg);
  }
  &__debt {
    background-image: url(/images/debt.svg);
  }
  &__driving {
    background-image: url(/images/driving.svg);
  }
  &__family {
    background-image: url(/images/family.svg);
  }
  &__individual {
    background-image: url(/images/individual.svg);
  }
}

.dic-wip {
  width: 80%;
  margin: auto;
}
