.land-la {
  background-color: #fff;
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  @media (max-width: 54rem) {
    padding-right: 0;
  }
  @media screen and (min-width: 64rem) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.land-la-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
  margin: 0 auto;
  max-width: 54rem;
  &__grey {
    background-color: $light10;
  }
  // @media screen and (min-width: 64rem) {
  //   -webkit-flex-direction: row-reverse;
  //   -ms-flex-direction: row-reverse;
  //   flex-direction: row-reverse;
  // }
}

.land-la-w-img {
  background-image: url(/images/landing.svg);
  background-position: 50% 50%;
  background-size: cover;
  object-fit: none;
  border-bottom: 6px solid;
  border-color: $nsw-primary-highlight;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 11rem;
  width: auto;
  z-index: 1;
  -ms-transform: none;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  @media screen and (min-width: 30rem) {
    background-image: url(/images/LegalAidNSW1.jpg);
    -webkit-transform: none;
    text-transform: none;
  }
  @media screen and (min-width: 64rem) {
    background-image: url(/images/community.svg);
    border-bottom: 0;
    -webkit-transform: none;
    text-transform: none;
  }
}

.land-la-w-l1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;
  // @media screen and (min-width: 64rem) {
  //   width: 50%;
  // }
}

.land-la-w-l11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &__row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
  }
  &__right {
    justify-content: flex-end;
  }
  // @media screen and (min-width: 64rem) {
  //   max-width: 29.375rem;
  //   padding-left: 0;
  //   padding-right: 0;
  //   padding-top: 1rem;
  //   padding-bottom: 1rem;
  // }
}

.land-la-w-l12 {
  background-color: #002664;
  height: 0;
  left: -100vw;
  position: relative;
  width: 200vw;
  // @media screen and (min-width: 64rem) {
  //   height: 4rem;
  // }
}

.land-la-w-l11-h1 {
  font-size: 1.75rem;
  line-height: 1.25;
  font-weight: 600;
  font-family: $font-stack;
  text-align: left;
  margin-bottom: 0.1rem;
  // @media screen and (min-width: 64rem) {
  //   font-size: 2rem;
  // }
}

.land-la-w-l111 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0.5rem;
  @media screen and (min-width: 64rem) {
    margin-top: 0.5rem;
  }
}

.land-la-w-l111-h2 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
  font-family: $font-stack;
  text-align: left;
  margin-bottom: 0.25rem;
  @media screen and (min-width: 64rem) {
    font-size: 1.5rem;
  }
}

.land-la-w-l112 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.land-la-w-l112-p {
  font-family: $font-stack;
  font-size: 1rem;
  line-height: 1.25;
  text-align: left;
  margin-bottom: 0.1rem;
}

.land-la-w-l1-foo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: auto;
  margin-bottom: 1rem;
  // @media screen and (min-width: 64rem) {
  //   width: 50%;
  // }
}

.land-la-problem-img {
  background-position: 50% 50%;
  background-size: cover;
  object-fit: none;
  border-bottom: 6px solid;
  border-color: $nsw-primary-highlight;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 11rem;
  width: auto;
  z-index: 1;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  &__drink-driving {
    background-image: url(/images/drink-driving.svg);
  }
  &__about-you {
    background-image: url(/images/about-you.svg);
  }
  &__your-guide {
    background-image: url(/images/your-guide.svg);
  }
  @media screen and (min-width: 64rem) {
    border-bottom: 0;
    -webkit-transform: none;
    text-transform: none;
    transform: none;
  }
}
