.Dictionary {
  position: absolute;
  width: 50rem;
  left: 50%;
  transform: translateX(-50%);
  top: 6.625rem;
  background-color: #fff;
  padding: 0 2.5rem;
  box-shadow: 2px 0px 5px #000000;
}

@media (max-width: 813px) {
  .Dictionary {
    width: 100%;
    padding: 0;
  }
}
