.Legalbot {
  position: absolute;
  width: 50rem;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  top: 0.125rem;
  bottom: 0.5rem;
}

@media (max-width: 813px) {
  .Legalbot {
    width: 100%;
  }
}
