.Legalbot {
  position: absolute;
  width: 50rem;
  height: 100vh;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 813px) {
  .Legalbot {
    width: 100%;
  }
}
