.Legalbot {
  position: absolute;
  width: 50rem;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  top: 10.25rem;
  box-shadow: 2px 4px 5px #000000;
}

.Frame {
  margin: 1rem;
  background-color: #c5c5c5;
}

@media (max-width: 813px) {
  .Legalbot {
    width: 100%;
  }
}
