.Logo {
}

.Logo img {
  width: auto;
  height: auto;
  max-width: 14.375rem;
  max-height: 5.9375rem;
  position: absolute;
  left: 4.8%;
  bottom: 8.49%;
}

@media (max-width: 415px) {
  .Logo img {
    width: auto;
    height: auto;
    max-width: 12rem;
    max-height: 5rem;
    position: absolute;
    left: 4.8%;
    bottom: 8.49%;
  }
}
