.Logo {
}

.Logo img {
  width: auto;
  height: auto;
  max-width: 14.375rem;
  max-height: 5.9375rem;
}

@media (max-width: 338px) {
  .Logo img {
    width: auto;
    height: auto;
    max-width: 12rem;
    max-height: 5rem;
  }
}
