.TopBar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 3.625rem;
  box-shadow: 2px 4px 5px #000000;
  z-index: 10;
  position: fixed;
  width: 50rem;
  top: 6.625rem;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 813px) {
  .TopBar {
    width: 100%;
  }
}
