.InputIntend {
  background-color: #c5c5c5;
  width: 95%;
  text-align: center;
  margin: auto;
  padding-bottom: 2rem;
}

.InputIntend input {
  width: 95%;
  margin: auto;
  background-color: #fff;
}

.Text {
  padding: 2rem;
}
