.ItemCard {
  padding: 1rem;
  border: #ccc;
  margin: 0.8rem 0rem;
  background-color: var(--light-color);
  box-shadow: 2px 4px 10px #000000;
  cursor: pointer;
}

.active {
  border: 1px solid rgba(111, 25, 46);
  color: #ffffff;
  background-color: rgba(111, 25, 46, 0.74);
}

.ItemCard:active {
  border: 1px solid rgba(111, 25, 46);
  color: #ffffff;
  background-color: rgba(111, 25, 46, 0.74);
}

.ItemCard:hover {
  background-color: #ccc;
  color: #000000;
}

@media (max-width: 813px) {
  .ItemCard {
    width: 100%;
  }
}
