.Layout {
  background-color: #ffffff;
  position: absolute;
  width: 50rem;
  left: 50%;
  transform: translateX(-50%);
  top: 6.625rem;
}

@media (max-width: 813px) {
  .Layout {
    width: 100%;
  }
}
